In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./clone.csv")

In [3]:
df.columns

Index(['function_id_one', 'function_id_two', 'syntactic_type', 'internal',
       'pretty_function_one', 'pretty_function_two'],
      dtype='object')

In [4]:
df.head()

,function_id_one,function_id_two,syntactic_type,internal,pretty_function_one,pretty_function_two
0,647224,13563706,3,f,"public void uploadFile (File inputFile, String...","public void doGet (HttpServletRequest request,..."
1,13563706,17930256,3,f,"public void doGet (HttpServletRequest request,...",private JButton getButtonImagen () {\n if (...
2,1458629,13563706,3,f,public static boolean decodeFileToFile (String...,"public void doGet (HttpServletRequest request,..."
3,13563706,22602225,3,f,"public void doGet (HttpServletRequest request,...",private static void writeBinaryFile (String fi...
4,8273323,13563706,3,f,public static String stringOfUrl (String addr)...,"public void doGet (HttpServletRequest request,..."

In [5]:
df.loc[df['internal'] == 't'].count()

function_id_one        208840
function_id_two        208840
syntactic_type         208840
internal               208840
pretty_function_one    208840
pretty_function_two    208840
dtype: int64

In [6]:
df.loc[df['internal'] == 'f'].count()

function_id_one        8375313
function_id_two        8375313
syntactic_type         8375313
internal               8375313
pretty_function_one    8375313
pretty_function_two    8375313
dtype: int64

In [7]:
df['syntactic_type'].value_counts()

syntactic_type
3    8531803
1      48116
2       4234
Name: count, dtype: int64

In [8]:
df['function_id_one'].value_counts()

function_id_one
160739      4382
413620      4278
418257      4273
427727      4269
598994      4212
            ...
23677120       1
23677131       1
23677152       1
4427895        1
23677222       1
Name: count, Length: 14737, dtype: int64

In [9]:
df['function_id_two'].value_counts()

function_id_two
23647453    4432
23634465    4428
23383764    4378
23188868    4334
23099329    4323
            ...
67506          1
1246           1
10942          1
45708          1
2746           1
Name: count, Length: 14739, dtype: int64